.tiny-events {
  width: 600px;
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75); }
  .tiny-events .calendar {
    overflow: hidden; }
    .tiny-events .calendar .current {
      font-family: "Century Gothic";
      color: #0070b4;
      width: 260px;
      height: 260px;
      padding: 20px;
      float: left;
      text-align: center; }
      .tiny-events .calendar .current .year {
        font-size: 24px; }
        .tiny-events .calendar .current .year span {
          padding: 0 40px 0 40px; }
        .tiny-events .calendar .current .year img {
          vertical-align: middle; }
        .tiny-events .calendar .current .year .prev, .tiny-events .calendar .current .year .next {
          cursor: pointer; }
      .tiny-events .calendar .current .date {
        font-size: 144px; }
      .tiny-events .calendar .current .weekday {
        font-size: 36px; }
    .tiny-events .calendar .all {
      font-family: "Century Gothic";
      color: white;
      background-color: #0070b4;
      width: 260px;
      height: 260px;
      padding: 20px;
      float: right;
      text-align: center; }
      .tiny-events .calendar .all .month {
        font-size: 24px;
        text-transform: uppercase;
        display: table-row; }
        .tiny-events .calendar .all .month span {
          display: table-cell;
          width: 230px; }
        .tiny-events .calendar .all .month img {
          vertical-align: middle; }
        .tiny-events .calendar .all .month .prev, .tiny-events .calendar .all .month .next {
          cursor: pointer; }
      .tiny-events .calendar .all table {
        width: 260px;
        padding-top: 30px;
        font-size: 21px; }
        .tiny-events .calendar .all table td {
          padding-top: 8px; }
          .tiny-events .calendar .all table td:hover {
            color: #cbe2f0;
            cursor: pointer; }
          .tiny-events .calendar .all table td.currentDate {
            border-bottom: 1px solid white; }
          .tiny-events .calendar .all table td.hasEvents {
            background-image: url(../images/events_mark.png);
            background-position: right 5px;
            background-repeat: no-repeat; }
  .tiny-events .events {
    width: 600px;
    color: #0070b4; }
    .tiny-events .events div {
      position: relative;
      font-family: "Century Gothic";
      padding: 20px;
      overflow: hidden;
      border-bottom: 1px solid #d6eefc; }
      .tiny-events .events div img.event-control {
        position: absolute;
        right: 30px;
        cursor: pointer; }
        .tiny-events .events div img.event-control.expand {
          top: 28px; }
        .tiny-events .events div img.event-control.collapse {
          top: 32px; }
      .tiny-events .events div span {
        padding-top: 1px;
        font-size: 21px;
        display: block;
        float: left; }
      .tiny-events .events div p.title {
        margin: 0px;
        font-size: 18px;
        float: left;
        width: 440px;
        padding-left: 27px;
        line-height: 28px;
        padding-bottom: 5px; }
      .tiny-events .events div p.description {
        margin: 0px;
        font-size: 14px;
        padding-left: 81px;
        clear: both;
        line-height: 20px;
        display: none; }
    .tiny-events .events div.last {
      border-bottom: none; }
