.tiny-events {
  width: 600px;
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);

  .calendar {
    overflow: hidden;

    .current {
      font-family: "Century Gothic";
      color: #0070B4;

      width: 260px;
      height: 260px;
      padding: 20px;

      float: left;

      text-align: center;

      .year {
        font-size: 24px;

        span {
          padding: 0 40px 0 40px;
        }

        img {
          vertical-align: middle;
        }

        .prev, .next {
          cursor: pointer;
        }
      }

      .date {
        font-size: 144px;
      }

      .weekday {
        font-size: 36px;
      }
    }

    .all {
      font-family: "Century Gothic";
      color: white;
      background-color: #0070B4;

      width: 260px;
      height: 260px;
      padding: 20px;

      float: right;

      text-align: center;

      .month {
        font-size: 24px;
        text-transform: uppercase;
        display: table-row;

        span {
          display: table-cell;
          width: 230px;
        }

        img {
          vertical-align: middle;
        }

        .prev, .next {
          cursor: pointer;
        }
      }

      table {
        width: 260px;
        padding-top: 30px;
        font-size: 21px;

        td {
          padding-top: 8px;

          &:hover {
            color: #CBE2F0;
            cursor: pointer;
          }

          &.currentDate {
            border-bottom: 1px solid white;
          }

          &.hasEvents {
            background-image: url(../images/events_mark.png);
            background-position: right 5px;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }

  .events {
    width: 600px;
    color: #0070B4;

    div {
      position: relative;
      font-family: "Century Gothic";
      padding: 20px;
      overflow: hidden;
      border-bottom: 1px solid #D6EEFC;

      img.event-control {
        position: absolute;
        right: 30px;
        cursor: pointer;

        &.expand {
          top: 28px;
        }
        &.collapse {
          top: 32px;
        }
      }

      span {
        padding-top: 1px;
        font-size: 21px;
        display: block;
        float: left;
      }

      p.title {
        margin: 0px;
        font-size: 18px;
        float: left;
        width: 440px;
        padding-left: 27px;
        line-height: 28px;
        padding-bottom: 5px
      }

      p.description {
        margin: 0px;

        font-size: 14px;
        padding-left: 81px;
        clear: both;
        line-height: 20px;

        display: none;
      }
    }

    div.last {
      border-bottom: none;
    }
  }
}